Source: wb-mcu-fw-flasher
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config
Homepage: https://github.com/wirenboard/wb-mcu-fw-flasher

Package: wb-mcu-fw-flasher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Firmware update tool for Wiren Board Modbus devices (WB-M*)
  This tool provides firmware and bootloader update functionality for Wiren Board devices.
  It includes build scripts and helper commands for flashing MCU firmware.
